*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:90%;
	margin:0 auto;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.col-1{
	width:8.33%;
	padding:0 15px;
}
.col-2{
	width:16.66%;
	padding:0 15px;
}.col-3{
	width:25%;
	padding:0 15px;
}.col-4{
	width:33.33%;
	padding:0 15px;
}.col-5{
	width:41.66%;
	padding:0 15px;
}.col-6{
	width:50%;
	padding:0 15px;
}.col-7{
	width:58.33%;
	padding:0 15px;
}.col-8{
	width:66.66%;
	padding:0 15px;
}.col-9{
	width:75%;
	padding:0 15px;
}.col-10{
	width:83.33%;
	padding:0 15px;
}.col-11{
	width:91.66%;
	padding:0 15px;
}.col-12{
	width:100%;
	padding:0 15px;
}
.heading{
	background-color:gray;
	height:50px;
}
#lay{
	padding:25px 0;
	background-color:green;
}
.content{
	background-color:gray;
	height:50px;
}
.image{
	background-color:green;
	height:10px;
	padding:110px 0;
}
#backgroundimage{
	background-color:gray;
	padding:110px 0;
}
#about{
	background-color:green;
	padding:30px 0;
	
}
.content-2{
	background-color:gray;
	height:50px;
	padding:11px 0;
	margin:14px 0;
}
.content-3{
	background-color:gray;
	height:50px;
	padding:70px 0;
	margin:15px 0;
}
.content-4{
	background-color:gray;
	height:50px;
	padding:70px 0;
}
#num{
	background-color:gray;
	padding:25px 0;
}
.con{
	background-color:green;
	height:160px;
	margin:10px 0;
	
}
#num1{
	background-color:green;
	padding:110px 0;
}
.cont{
	background-color:gray;
	height:260px;
}
.cont1{
	background-color:gray;
	height:210px;
	margin:20px 20px;
}
#num2{
	background-color:gray;
	padding:120px 0;
}
.top{
	background-color:green;
	height:50px;
}
.rr{
	background-color:green;
	height:150px;
	margin:15px 25px;
}
#num3{
	background-color:green;
	padding:100px 0;
}
.kk{
	background-color:gray;
	height:50px;
}
.ss{
	background-color:gray;
	height:180px;
	margin:15px 25px;
}
#num4{
	background-color:gray;
	padding:80px 0;
}
.mm{
	background-color:green;
	height:10px;
	padding:100px 0;
}
#num5{
	background-color:green;
	padding:10px 0;
}
.nn{
	background-color:gray;
	height:50px;
	padding:80px 0;
	margin:25px 35px;
}
 .col-12 >h3{
	background-color:gray;
	height:25px;
}
#num6{
	background-color:gray;
	padding:50px 0;
}
.ak{
	background-color:green;
	height:50px;
	padding:75px 0;
	margin:15px 20px;
}
.col-12 >p{
	background-color:green;
	height:25px;
}
#num7{
	background-color:green;
	padding:50px 0;
}
.ka{
	background-color:gray;
	height:50px;
	padding:45px 0;
	margin:15px 0;
}
#num8{
	background-color:gray;
	padding:50px 0;
}
.kav{
	background-color:green;
	height:10px;
	padding:75px 0;
	margin:15px 0;
}
.kavi{
	background-color:green;
	height:10px;
	padding:150px 0;
	margin:15px 0;
	
}
.di{
	background-color:green;
	height:10px;
	padding:50px 0;
	margin:-120px 0;
}
#num9{
	background-color:green;
	padding:50px 0;
}
.ba{
	background-color:gray;
	height:10px;
	padding:80px 0;
	margin:15px 0;
}




